.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.navigation a {
  color: #1c1e21;
  display: inline-block;
  padding: 0.25rem 1rem;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  text-align: center;
}
